@import "utils/vars";
@import "utils/fonts";
@import "utils/libs";

/*
 * HERE YOUR GLOBAL STYLES
 */
html {
	font-size: 16px;
}

html,
body {
	margin: 0;
	padding: 0;
}

.chess .row > div {
	padding: 0 5px 10px 5px;
}
.chess div a {
	display: block;
	border: 2px solid #e6332a;
	border-radius: 5px;
	text-decoration: none;
	padding-bottom: 50px;
	position: relative;
	text-align: center;
	color: #e6332a;
	line-height: 1.2;
	font-size: 20px;
	text-decoration: none;
}
.chess div a div {
	color: #1b828c;
	height: 150px;
	font-family: "officinasansboldsccbold";
	line-height: 1.2;
	font-size: 30px;
	padding-top: 15px;
}
.chess div a img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	display: block; /* 260x150 */
	width: 64px;
	height: auto;
	margin: 0 auto;
	opacity: 0.4;
	transition: all 0.25s ease-out;
}
.chess div a:hover img {
	opacity: 0;
}
.chess div a span {
	position: absolute;
	text-align: left;
	left: 0;
	bottom: 5px;
	padding: 5px 10px;
	width: 70%;
	font-size: 15px;
	color: #fff;
	background-color: #e6332a;
	border-radius: 0 3px 3px 0;
	transition: all 0.3s ease-out;
	line-height: 1.1;
}
.chess div a:hover span {
	left: 5px;
	border-radius: 3px;
}
.chess div a p {
	position: absolute;
	text-align: left;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0 10px;
	margin: 0;
	font-size: 14px;
	color: #fff;
	background-color: #e6332a;
	border-radius: 0 3px 3px 0;
	transition: all 0.3s ease-out;
	line-height: 1.1;
}
.chess div a:hover p {
	max-height: 200px;
	padding: 5px 10px;
}
div.carousel ol.carousel-indicators {
	bottom: -25px;
}
div.carousel ol.carousel-indicators li {
	background-color: #1b828c;
	height: 5px;
}
div.carousel ol.carousel-indicators li.active {
	background-color: #e6332a;
}
div.carousel div.carousel-inner {
	margin-bottom: 15px;
}
div.carousel div.carousel-inner img {
	border: 2px solid #e6332a;
	border-radius: 5px; /*outline: 1px solid #e6332a; outline-offset: -1px;*/
}
.solution ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.solution ul li {
	line-height: 1.2;
	margin: 5px 5px 5px 0;
	font-size: 14px;
}
.solution ul li a {
	color: #212529;
}
.solution ul li a:before {
	content: "•";
	margin-right: 5px;
	color: #e6332a;
}
@font-face {
	font-family: "officinasansboldsccbold";
	src: url("../font/offsbsc1-webfont.eot");
	src: url("../font/offsbsc1-webfont-1.eot") format("embedded-opentype"),
		url("../font/offsbsc1-webfont.woff2") format("woff2"), url("../font/offsbsc1-webfont.woff") format("woff"),
		url("../font/offsbsc1-webfont.ttf") format("truetype"), url("../font/offsbsc1-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.jde-font {
	font-family: "officinasansboldsccbold";
}
.jde-color,
.red {
	color: #e6332a;
} /* 1b828c 5e8b0d dcdcdc*/
h1 {
	font-family: "officinasansboldsccbold";
	color: #e6332a;
}
.sticky-top {
	z-index: 980 !important;
}
.text h2 {
	font-size: 25px;
}
.text h3 {
	font-size: 22px;
}
.text a {
	text-decoration: underline;
	color: #212529;
}
.text a.btn {
	text-decoration: none;
	color: #fff;
}
.text img {
	max-width: 100%;
}
.btn.btn-danger {
	background-color: #e6332a;
	border-color: #e6332a;
}
.btn.btn-info {
	background-color: #1b828c;
	border-color: #1b828c;
}
.not-tel,
.not-tel a {
	pointer-events: none;
	text-decoration: none;
	color: inherit;
}
.lh1 {
	line-height: 1;
}
.width-full {
	overflow: auto;
}
.pdf_print {
	padding-left: 28px;
	position: relative;
	text-decoration: none !important;
	color: #666 !important;
}
.pdf_print:hover {
	color: #333;
	text-decoration: underline;
}
.pdf_print:before {
	position: absolute;
	left: 0;
	content: " ";
	background-image: url(../img/filetype/pdf.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	opacity: 0.3;
	transition: all 0.1s ease-out;
}
.pdf_print:hover:before {
	opacity: 1;
}
.text.max {
	max-height: 350px;
	overflow-y: hidden;
	position: relative;
}
.text.max:after {
	content: "показать полностью";
	color: #e6332a;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 50px;
	background-color: rgba(125, 125, 125, 0.5);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
}
.mainimg {
	position: relative;
}
.mainimg img {
	width: 100%;
	height: auto;
	border: 1px solid #e9ecef;
	border-radius: 5px;
}
.mainimg b {
	position: absolute;
	right: 1px;
	bottom: 1px;
	color: #fff;
	border-radius: 10px 0 5px 0;
	background-color: #e6332a;
	padding: 2px 10px;
}
.rightbadge {
	float: right;
	margin: 5px 0 0 0;
	color: #fff;
	padding: 2px 10px 2px 15px;
	border-radius: 10px 3px 3px 10px;
	background-color: #e6332a;
	font-weight: bold;
}
ul.redul {
	list-style: none;
}
ul.redul li:before {
	color: #e6332a;
	content: "\2022";
	padding-right: 10px;
}
ul.document-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.document-list ul {
	list-style: none;
	margin: 0 0 0 25px;
	padding: 0;
}
ul.document-list li {
	margin: 0 0 5px 0;
	padding: 5px;
}
ul.document-list a {
	text-decoration: none;
	color: #212529;
	font-size: 18px;
	transition: all 0.1s ease-out;
	border-bottom: 1px dashed #ddd;
}
ul.document-list a:hover {
	color: #e6332a;
	border-bottom: 1px dashed #e6332a;
}
ul.document-list .ico {
	padding-left: 30px;
	position: relative;
}
ul.document-list .ico:before {
	position: absolute;
	left: 0;
	content: " ";
	background-image: url(/img/filetype/file.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	opacity: 0.5;
	transition: all 0.1s ease-out;
}
ul.document-list .ico:hover:before {
	opacity: 1;
}
ul.document-list .doc:before {
	background-image: url(../img/filetype/doc.svg);
}
ul.document-list .docx:before {
	background-image: url(../img/filetype/docx.svg);
}
ul.document-list .html:before {
	background-image: url(../img/filetype/html.svg);
}
ul.document-list .jpg:before {
	background-image: url(../img/filetype/jpg.svg);
}
ul.document-list .pdf:before {
	background-image: url(../img/filetype/pdf.svg);
}
ul.document-list .rtf:before {
	background-image: url(../img/filetype/rtf.svg);
}
ul.document-list .xls:before {
	background-image: url(../img/filetype/xls.svg);
}
ul.document-list .xlsx:before {
	background-image: url(../img/filetype/xlsx.svg);
}
ul.document-list .zip:before {
	background-image: url(../img/filetype/zip.svg);
}
ul.document-list .pptx:before {
	background-image: url(../img/filetype/pptx.svg);
}
.img-list > div {
	line-height: 1.4;
	text-align: center;
}
.img-list a {
	text-decoration: none;
	border-bottom: 1px dashed #ddd;
}
.img-list a:hover {
	border-bottom: 1px dashed #e6332a;
}
.img-list a img {
	width: 100%;
	height: auto;
	border: 1px solid #e9ecef;
	border-radius: 5px;
}
.img-list a:hover img {
	border: 1px solid #e6332a;
}
ul.price-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.price-list ul {
	list-style: none;
	margin: 0 0 0 25px;
	padding: 0;
}
ul.price-list li {
	margin: 0 0 5px 0;
	padding: 5px;
}
ul.price-list a {
	text-decoration: none;
	color: #212529;
	font-size: 18px;
	transition: all 0.1s ease-out;
	border-bottom: 1px dashed #ddd;
	line-height: 1.2;
}
ul.price-list a b {
	display: block;
}
ul.price-list a:hover {
	color: #e6332a;
	border-bottom: 1px dashed #e6332a;
}
ul.price-list .ico {
	padding-left: 42px;
	position: relative;
}
ul.price-list .ico:before {
	position: absolute;
	content: " ";
	left: 0;
	top: 0;
	bottom: 0;
	min-height: 32px;
	width: 32px;
	background-image: url(/img/filetype/file.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 32px 32px;
	opacity: 0.5;
	transition: all 0.1s ease-out;
}
ul.price-list .ico:hover:before {
	opacity: 1;
}
ul.price-list .in:before {
	background-image: url(../img/price/in.svg);
}
ul.price-list .out:before {
	background-image: url(../img/price/out.svg);
}
ul.price-list .auto:before {
	background-image: url(../img/price/auto.svg);
}
ul.price-list .box:before {
	background-image: url(../img/price/box.svg);
}
ul.price-list .house:before {
	background-image: url(../img/price/house.svg);
}
ul.price-list .air:before {
	background-image: url(../img/price/air.svg);
}
ul.service-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.service-list ul {
	list-style: none;
	margin: 0 0 0 25px;
	padding: 0;
}
ul.service-list li {
	margin: 0 0 5px 0;
	padding: 5px;
}
ul.service-list a {
	text-decoration: none;
	color: #212529;
	font-size: 18px;
	transition: all 0.1s ease-out;
	border-bottom: 1px dashed #ddd;
}
ul.service-list a:before {
	content: "•";
	margin-right: 5px;
	color: #e6332a;
}
ul.service-list a:hover {
	color: #e6332a;
	border-bottom: 1px dashed #e6332a;
}
ul.service-list2 {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.service-list2 ul {
	list-style: none;
	margin: 10px 0 0 25px;
	padding: 0;
}
ul.service-list2 li {
	position: relative;
	margin: 0 0 10px 0;
	padding: 5px 5px 5px 70px;
	min-height: 65px;
}
ul.service-list2 li > img {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 0;
	top: 10px;
	opacity: 0.4;
}
ul.service-list2 li > p {
	margin: 0 0 0 15px;
}
ul.service-list2 li > a {
	text-decoration: none;
	color: #e6332a;
	font-size: 20px;
	transition: all 0.1s ease-out;
	border-bottom: 1px dashed #fff;
}
ul.service-list2 li > a:before {
	content: "•";
	margin-right: 5px;
	color: #e6332a;
}
ul.service-list2 li > a:hover {
	color: #e6332a;
	border-bottom: 1px dashed #e6332a;
}
nav ol.breadcrumb {
	display: block !important; /*overflow: hidden;*/ /*text-overflow: ellipsis;*/
	white-space: nowrap;
	overflow: auto;
}
nav ol.breadcrumb li.breadcrumb-item {
	display: inline;
	float: none;
}
nav ol.breadcrumb li.breadcrumb-item a {
	color: #212529;
	border-bottom: 1px solid #dcdcdc;
}
nav ol.breadcrumb li.breadcrumb-item.home {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='#6c757d' d='M488 312.7V456c0 13.3-10.7 24-24 24H348c-6.6 0-12-5.4-12-12V356c0-6.6-5.4-12-12-12h-72c-6.6 0-12 5.4-12 12v112c0 6.6-5.4 12-12 12H112c-13.3 0-24-10.7-24-24V312.7c0-3.6 1.6-7 4.4-9.3l188-154.8c4.4-3.6 10.8-3.6 15.3 0l188 154.8c2.7 2.3 4.3 5.7 4.3 9.3zm83.6-60.9L488 182.9V44.4c0-6.6-5.4-12-12-12h-56c-6.6 0-12 5.4-12 12V117l-89.5-73.7c-17.7-14.6-43.3-14.6-61 0L4.4 251.8c-5.1 4.2-5.8 11.8-1.6 16.9l25.5 31c4.2 5.1 11.8 5.8 16.9 1.6l235.2-193.7c4.4-3.6 10.8-3.6 15.3 0l235.2 193.7c5.1 4.2 12.7 3.5 16.9-1.6l25.5-31c4.2-5.2 3.4-12.7-1.7-16.9z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: left center;
	width: 18px;
	display: inline-block;
}
nav ol.breadcrumb li.breadcrumb-item.home a {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.callback {
	padding: 10px;
	margin: 25px 0 15px 0;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.callback b {
	display: block;
	font-family: "officinasansboldsccbold";
	font-size: 18px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}
body.compensate-for-scrollbar {
	overflow: hidden;
}
.fancybox-active {
	height: auto;
}
.fancybox-is-hidden {
	left: -9999px;
	margin: 0;
	position: absolute !important;
	top: -9999px;
	visibility: hidden;
}
.fancybox-container {
	-webkit-backface-visibility: hidden;
	height: 100%;
	left: 0;
	outline: none;
	position: fixed;
	-webkit-tap-highlight-color: transparent;
	top: 0;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	transform: translateZ(0);
	width: 100%;
	z-index: 99992;
}
.fancybox-container * {
	box-sizing: border-box;
}
.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.fancybox-outer {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
}
.fancybox-bg {
	background: #1e1e1e;
	opacity: 0;
	transition-duration: inherit;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.fancybox-is-open .fancybox-bg {
	opacity: 0.9;
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancybox-caption,
.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
	direction: ltr;
	opacity: 0;
	position: absolute;
	transition: opacity 0.25s ease, visibility 0s ease 0.25s;
	visibility: hidden;
	z-index: 99997;
}
.fancybox-show-caption .fancybox-caption,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-nav .fancybox-navigation .fancybox-button,
.fancybox-show-toolbar .fancybox-toolbar {
	opacity: 1;
	transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
	visibility: visible;
}
.fancybox-infobar {
	color: #ccc;
	font-size: 13px;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 44px;
	left: 0;
	line-height: 44px;
	min-width: 44px;
	mix-blend-mode: difference;
	padding: 0 10px;
	pointer-events: none;
	top: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fancybox-toolbar {
	right: 0;
	top: 0;
}
.fancybox-stage {
	direction: ltr;
	overflow: visible;
	transform: translateZ(0);
	z-index: 99994;
}
.fancybox-is-open .fancybox-stage {
	overflow: hidden;
}
.fancybox-slide {
	-webkit-backface-visibility: hidden;
	display: none;
	height: 100%;
	left: 0;
	outline: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 44px;
	position: absolute;
	text-align: center;
	top: 0;
	transition-property: transform, opacity;
	white-space: normal;
	width: 100%;
	z-index: 99994;
}
.fancybox-slide:before {
	content: "";
	display: inline-block;
	font-size: 0;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
	display: block;
}
.fancybox-slide--image {
	overflow: hidden;
	padding: 44px 0;
}
.fancybox-slide--image:before {
	display: none;
}
.fancybox-slide--html {
	padding: 6px;
}
.fancybox-content {
	background: #fff;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 44px;
	position: relative;
	text-align: left;
	vertical-align: middle;
}
.fancybox-slide--image .fancybox-content {
	animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
	-webkit-backface-visibility: hidden;
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left: 0;
	max-width: none;
	overflow: visible;
	padding: 0;
	position: absolute;
	top: 0;
	transform-origin: top left;
	transition-property: transform, opacity;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 99995;
}
.fancybox-can-zoomOut .fancybox-content {
	cursor: zoom-out;
}
.fancybox-can-zoomIn .fancybox-content {
	cursor: zoom-in;
}
.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
	cursor: grab;
}
.fancybox-is-grabbing .fancybox-content {
	cursor: grabbing;
}
.fancybox-container [data-selectable="true"] {
	cursor: text;
}
.fancybox-image,
.fancybox-spaceball {
	background: transparent;
	border: 0;
	height: 100%;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none;
	padding: 0;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
}
.fancybox-spaceball {
	z-index: 1;
}
.fancybox-slide--iframe .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--video .fancybox-content {
	height: 100%;
	overflow: visible;
	padding: 0;
	width: 100%;
}
.fancybox-slide--video .fancybox-content {
	background: #000;
}
.fancybox-slide--map .fancybox-content {
	background: #e5e3df;
}
.fancybox-slide--iframe .fancybox-content {
	background: #fff;
}
.fancybox-iframe,
.fancybox-video {
	background: transparent;
	border: 0;
	display: block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.fancybox-iframe {
	left: 0;
	position: absolute;
	top: 0;
}
.fancybox-error {
	background: #fff;
	cursor: default;
	max-width: 400px;
	padding: 40px;
	width: 100%;
}
.fancybox-error p {
	color: #444;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.fancybox-button {
	background: rgba(30, 30, 30, 0.6);
	border: 0;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	height: 44px;
	margin: 0;
	padding: 10px;
	position: relative;
	transition: color 0.2s;
	vertical-align: top;
	visibility: inherit;
	width: 44px;
}
.fancybox-button,
.fancybox-button:link,
.fancybox-button:visited {
	color: #ccc;
}
.fancybox-button:hover {
	color: #fff;
}
.fancybox-button:focus {
	outline: none;
}
.fancybox-button.fancybox-focus {
	outline: 1px dotted;
}
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
	color: #888;
	cursor: default;
	outline: none;
}
.fancybox-button div {
	height: 100%;
}
.fancybox-button svg {
	display: block;
	height: 100%;
	overflow: visible;
	position: relative;
	width: 100%;
}
.fancybox-button svg path {
	fill: currentColor;
	stroke-width: 0;
}
.fancybox-button--fsenter svg:nth-child(2),
.fancybox-button--fsexit svg:first-child,
.fancybox-button--pause svg:first-child,
.fancybox-button--play svg:nth-child(2) {
	display: none;
}
.fancybox-progress {
	background: #ff5268;
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transform-origin: 0;
	transition-property: transform;
	transition-timing-function: linear;
	z-index: 99998;
}
.fancybox-close-small {
	background: transparent;
	border: 0;
	border-radius: 0;
	color: #ccc;
	cursor: pointer;
	opacity: 0.8;
	padding: 8px;
	position: absolute;
	right: -12px;
	top: -44px;
	z-index: 401;
}
.fancybox-close-small:hover {
	color: #fff;
	opacity: 1;
}
.fancybox-slide--html .fancybox-close-small {
	color: currentColor;
	padding: 10px;
	right: 0;
	top: 0;
}
.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
	overflow: hidden;
}
.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
	display: none;
}
.fancybox-navigation .fancybox-button {
	background-clip: content-box;
	height: 100px;
	opacity: 0;
	position: absolute;
	top: calc(50% - 50px);
	width: 70px;
}
.fancybox-navigation .fancybox-button div {
	padding: 7px;
}
.fancybox-navigation .fancybox-button--arrow_left {
	left: 0;
	left: env(safe-area-inset-left);
	padding: 31px 26px 31px 6px;
}
.fancybox-navigation .fancybox-button--arrow_right {
	padding: 31px 6px 31px 26px;
	right: 0;
	right: env(safe-area-inset-right);
}
.fancybox-caption {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.85) 0,
		rgba(0, 0, 0, 0.3) 50%,
		rgba(0, 0, 0, 0.15) 65%,
		rgba(0, 0, 0, 0.075) 75.5%,
		rgba(0, 0, 0, 0.037) 82.85%,
		rgba(0, 0, 0, 0.019) 88%,
		transparent
	);
	bottom: 0;
	color: #eee;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	line-height: 1.5;
	padding: 75px 44px 25px;
	pointer-events: none;
	right: 0;
	text-align: center;
	z-index: 99996;
}
// @supports (padding: max(0px)) {
// 	.fancybox-caption {
// 		padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom))
// 			max(44px, env(safe-area-inset-left));
// 	}
// }
.fancybox-caption--separate {
	margin-top: -50px;
}
.fancybox-caption__body {
	max-height: 50vh;
	overflow: auto;
	pointer-events: all;
}
.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
	color: #ccc;
	text-decoration: none;
}
.fancybox-caption a:hover {
	color: #fff;
	text-decoration: underline;
}
.fancybox-loading {
	animation: a 1s linear infinite;
	background: transparent;
	border: 4px solid #888;
	border-bottom-color: #fff;
	border-radius: 50%;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	opacity: 0.7;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 99999;
}
@keyframes a {
	to {
		transform: rotate(1turn);
	}
}
.fancybox-animated {
	transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}
.fancybox-fx-slide.fancybox-slide--previous {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.fancybox-fx-slide.fancybox-slide--next {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
.fancybox-fx-slide.fancybox-slide--current {
	opacity: 1;
	transform: translateZ(0);
}
.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
	opacity: 0;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-fx-fade.fancybox-slide--current {
	opacity: 1;
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
	opacity: 0;
	transform: scale3d(1.5, 1.5, 1.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--next {
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--current {
	opacity: 1;
	transform: scaleX(1);
}
.fancybox-fx-rotate.fancybox-slide--previous {
	opacity: 0;
	transform: rotate(-1turn);
}
.fancybox-fx-rotate.fancybox-slide--next {
	opacity: 0;
	transform: rotate(1turn);
}
.fancybox-fx-rotate.fancybox-slide--current {
	opacity: 1;
	transform: rotate(0deg);
}
.fancybox-fx-circular.fancybox-slide--previous {
	opacity: 0;
	transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}
.fancybox-fx-circular.fancybox-slide--next {
	opacity: 0;
	transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}
.fancybox-fx-circular.fancybox-slide--current {
	opacity: 1;
	transform: scaleX(1) translateZ(0);
}
.fancybox-fx-tube.fancybox-slide--previous {
	transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}
.fancybox-fx-tube.fancybox-slide--next {
	transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}
.fancybox-fx-tube.fancybox-slide--current {
	transform: translateZ(0) scale(1);
}
@media (max-height: 576px) {
	.fancybox-slide {
		padding-left: 6px;
		padding-right: 6px;
	}
	.fancybox-slide--image {
		padding: 6px 0;
	}
	.fancybox-close-small {
		right: -6px;
	}
	.fancybox-slide--image .fancybox-close-small {
		background: #4e4e4e;
		color: #f2f4f6;
		height: 36px;
		opacity: 1;
		padding: 6px;
		right: 0;
		top: 0;
		width: 36px;
	}
	.fancybox-caption {
		padding-left: 12px;
		padding-right: 12px;
	}
	// @supports (padding: max(0px)) {
	// 	.fancybox-caption {
	// 		padding-left: max(12px, env(safe-area-inset-left));
	// 		padding-right: max(12px, env(safe-area-inset-right));
	// 	}
	// }
}
.fancybox-share {
	background: #f4f4f4;
	border-radius: 3px;
	max-width: 90%;
	padding: 30px;
	text-align: center;
}
.fancybox-share h1 {
	color: #222;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 20px;
}
.fancybox-share p {
	margin: 0;
	padding: 0;
}
.fancybox-share__button {
	border: 0;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	margin: 0 5px 10px;
	min-width: 130px;
	padding: 0 15px;
	text-decoration: none;
	transition: all 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}
.fancybox-share__button:link,
.fancybox-share__button:visited {
	color: #fff;
}
.fancybox-share__button:hover {
	text-decoration: none;
}
.fancybox-share__button--fb {
	background: #3b5998;
}
.fancybox-share__button--fb:hover {
	background: #344e86;
}
.fancybox-share__button--pt {
	background: #bd081d;
}
.fancybox-share__button--pt:hover {
	background: #aa0719;
}
.fancybox-share__button--tw {
	background: #1da1f2;
}
.fancybox-share__button--tw:hover {
	background: #0d95e8;
}
.fancybox-share__button svg {
	height: 25px;
	margin-right: 7px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	width: 25px;
}
.fancybox-share__button svg path {
	fill: #fff;
}
.fancybox-share__input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 0;
	color: #5d5b5b;
	font-size: 14px;
	margin: 10px 0 0;
	outline: none;
	padding: 10px 15px;
	width: 100%;
}
.fancybox-thumbs {
	background: #ddd;
	bottom: 0;
	display: none;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 2px 2px 4px;
	position: absolute;
	right: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 0;
	width: 212px;
	z-index: 99995;
}
.fancybox-thumbs-x {
	overflow-x: auto;
	overflow-y: hidden;
}
.fancybox-show-thumbs .fancybox-thumbs {
	display: block;
}
.fancybox-show-thumbs .fancybox-inner {
	right: 212px;
}
.fancybox-thumbs__list {
	font-size: 0;
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	position: relative;
	white-space: nowrap;
	width: 100%;
}
.fancybox-thumbs-x .fancybox-thumbs__list {
	overflow: hidden;
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
	width: 7px;
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
	background: #2a2a2a;
	border-radius: 10px;
}
.fancybox-thumbs__list a {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, 0.1);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: left;
	height: 75px;
	margin: 2px;
	max-height: calc(100% - 8px);
	max-width: calc(50% - 4px);
	outline: none;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	width: 100px;
}
.fancybox-thumbs__list a:before {
	border: 6px solid #ff5268;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	z-index: 99991;
}
.fancybox-thumbs__list a:focus:before {
	opacity: 0.5;
}
.fancybox-thumbs__list a.fancybox-thumbs-active:before {
	opacity: 1;
}
@media (max-width: 576px) {
	.fancybox-thumbs {
		width: 110px;
	}
	.fancybox-show-thumbs .fancybox-inner {
		right: 110px;
	}
	.fancybox-thumbs__list a {
		max-width: calc(100% - 10px);
	}
}
a.branch-map {
	display: block;
	float: right;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 32px 32px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23e6332a' d='M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z'%3E%3C/path%3E%3C/svg%3E");
	min-width: 32px;
	min-height: 32px;
	margin: 5px 0 0 0;
	padding: 5px 35px 0 0;
	text-decoration: none;
	font-size: 14px;
}
.branch-list ul {
	list-style: none;
}
.branch-list ul li a {
	font-family: "officinasansboldsccbold";
	color: #333;
	font-size: 18px;
	line-height: 1.5;
}
.branch-letter {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
}
.branch-letter li {
	display: inline-block;
	margin: 0;
	padding: 0;
	min-width: 30px;
}
.branch-letter li a {
	display: block;
	padding: 5px 5px 3px 5px;
	margin: 1px;
	border-radius: 5px;
	border: 1px dashed #dcdcdc;
	font-family: "officinasansboldsccbold";
	font-size: 18px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-out;
}
.branch-letter li a.active {
	background: #e6332a;
	color: #fff;
	border: 1px solid #dcdcdc;
}
.branch-popular {
	position: relative;
	margin: 35px 0 40px 0;
	padding: 5px 5px 3px 5px;
	font-family: "officinasansboldsccbold";
	font-size: 16px;
	border: 1px solid #1b828c;
	border-radius: 0px 3px 0 3px;
}
.branch-popular .hr {
	border-top: 1px dashed #ddd;
	text-align: right;
}
.branch-popular b {
	position: absolute;
	top: -25px;
	left: -1px;
	background: #ddd;
	color: #333;
	line-height: 1;
	height: 25px;
	border: 1px solid #1b828c;
	border-bottom: none;
	padding: 5px 15px 0 10px;
	border-radius: 3px 10px 0 0;
	font-weight: normal;
}
.branch-popular span {
	position: absolute;
	font-size: 14px;
	bottom: -25px;
	right: -1px;
	background: #ddd;
	color: #333;
	line-height: 1;
	height: 25px;
	border: 1px solid #1b828c;
	border-top: none;
	padding: 6px 15px 0 10px;
	border-radius: 0 0 3px 10px;
	font-weight: normal;
}
.branch-popular a {
	display: inline-block;
	margin-right: 10px;
}
.branch-popular .hr a {
	font-size: 14px;
}
.branch-search {
	margin: 15px 0 20px 0;
}
.branch-search .input-group .input-group-append .input-group-text {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23333' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'%3E%3C/path%3E%3C/svg%3E");
	background-size: 24px 24px;
	width: 40px;
}
.station-header {
	cursor: pointer;
	margin: 10px 0;
}
.station-header h3 {
	color: #e6332a;
	font-family: "officinasansboldsccbold";
	margin: 15px 0 0 0;
	line-height: 1.2;
}
.station-header p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #1b828c;
	line-height: 1.2;
}
.current-time {
	float: right;
	border: 1px solid #1b828c;
	padding: 5px 10px;
	border-radius: 5px;
	line-height: 1;
	text-align: center;
	font-size: 16px;
}
.current-time small {
	display: block;
	color: #1b828c;
	font-size: 10px;
	padding-top: 2px;
}
.station-info {
	padding: 5px 0;
}
.station-hr {
	height: 1px;
	border-bottom: 1px dashed #1b828c;
	margin: 5px 0;
}
.station-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.station-list li {
	margin: 0 0 5px 0;
	padding: 5px 0;
	border-bottom: 1px dashed #dcdcdc;
	line-height: 1.2;
}
.station-list b {
	font-weight: 600;
}
.station-list b,
.station-list span {
	padding: 2px 0;
}
.station-list li:last-child {
	border-bottom: none;
}
.station-list li.caption {
	border-bottom: none;
	margin-top: 10px;
	padding: 5px 15px;
	text-align: center;
	font-weight: 600;
}
.station-list .mini {
	font-size: 14px;
	line-height: 1.2;
}
.worktime {
	width: 100%;
	border: 1px solid #dcdcdc;
	border-collapse: collapse;
}
.worktime td,
.worktime th {
	border: 1px solid #dcdcdc;
	vertical-align: middle;
	line-height: 1.2;
	padding: 5px 2px;
	text-align: center;
}
.worktime th {
	font-size: 16px;
	font-weight: 600;
}
.worktime td {
	font-size: 14px; /*font-weight: 600;*/
}
.worktime td sup {
	font-weight: normal;
	color: #666;
}
.worktime tbody th {
	text-align: right;
	padding-right: 5px;
}
.worktime th small {
	display: block;
}
.worktime.holiday {
	background-color: #eee;
}
.worktime.holiday thead tr,
.worktime.holiday thead th {
	background-color: #e6332a;
	color: #fff;
}
.worktime.holiday,
.worktime.holiday td,
.worktime.holiday th {
	border-color: #ddbbba;
}
.worktime.holiday td,
.worktime.holiday td sup {
	color: #e6332a;
}
.station-map {
	text-align: center;
}
.station-map a {
	display: block;
	font-size: 14px;
	text-align: center;
}
.station-map a img {
	display: block;
	margin: 5px auto;
	max-width: 100%;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
.station-obj {
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px dashed #dcdcdc;
}
.station-obj li.top {
	margin: 0;
	padding: 5px 5px 5px 25px;
	line-height: 1.2;
	cursor: pointer;
	border-bottom: 1px solid #e6332a;
	border-radius: 5px 5px 0 0;
	color: #fff;
	background-color: #e6332a;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 16px 16px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z'%3E%3C/path%3E%3C/svg%3E");
	transition: all 0.2s ease-out;
}
.station-obj li.top span.mr-2 {
	font-weight: 600;
}
.station-obj li.top sup.text-muted {
	color: #fff !important;
}
.station-obj li.top.collapsed sup.text-muted {
	color: #6c757d !important;
}
.station-obj li.top span.red {
	color: #fff;
}
.station-obj li.top.collapsed span.red {
	color: #e6332a;
}
.station-obj li.top.collapsed {
	color: #212529;
	border-bottom: 1px dashed #dcdcdc;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23e6332a' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
}
.station-obj li.top:hover /*span.mr-2*/ {
	/*border-bottom: 1px dashed #fff;*/
}
.station-obj li.top.collapsed:hover /*span.mr-2*/, .station-obj li.top.collapsed:hover sup.text-muted {
	/*border-bottom: 1px dashed #e6332a;*/
	color: #e6332a !important;
}
.station-obj li.in {
	border: 1px dashed #e6332a;
	padding: 5px 10px 10px 15px;
}
.station-popular {
	margin: 20px 0;
}
.station-popular p {
	font-family: "officinasansboldsccbold";
	text-align: center;
	margin: 0 0 5px 0;
	font-size: 20px;
}
.station-popular .popular {
	cursor: pointer;
	padding-bottom: 3px;
}
.station-popular .popular b {
	color: #e6332a;
	font-size: 16px;
	border-bottom: 1px dashed #dcdcdc;
}
.station-popular .popular:hover b {
	border-bottom-color: #e6332a;
}
.station-popular .popular.active b {
	border-bottom-style: solid;
	border-bottom-color: #e6332a;
}
ul.requisite-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.requisite-list li {
	margin: 0 0 5px 0;
	padding: 5px;
	border-bottom: 1px dashed #ddd;
}
ul.nav.nav-tabs.nav-fill {
	border-bottom: 1px solid #1b828c;
	margin-bottom: 10px;
}
ul.nav.nav-tabs.nav-fill li a {
	margin: 0 2px 0 0;
	padding: 8px 1px;
	text-decoration: none;
	font-size: 16px;
	border: 1px dashed #dcdcdc;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
ul.nav.nav-tabs.nav-fill li:last-child a {
	margin-right: 0;
}
ul.nav.nav-tabs.nav-fill a.active {
	border: 1px solid #1b828c;
	border-bottom: 1px solid #fff;
}
.pricelist {
	width: 100%;
	border: 1px solid #dcdcdc;
	border-collapse: collapse;
}
.pricelist thead th {
	border: 1px solid #dcdcdc;
	vertical-align: middle;
	text-align: center;
	line-height: 1.1;
	font-size: 11px;
	padding: 5px;
}
.pricelist thead th.normal {
	font-size: 14px;
	line-height: 1.5;
}
.pricelist tbody th {
	white-space: nowrap;
}
.pricelist tbody td,
.pricelist tbody th {
	border: 1px solid #dcdcdc;
	vertical-align: middle;
	line-height: 1.5;
	font-size: 14px;
	padding: 5px;
}
.pricelist tbody tr:nth-child(odd) td,
.pricelist tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}
.pricelist tbody tr:hover td,
.pricelist tbody tr:hover th {
	background-color: #f5f5f5;
}
.pricelist .wall {
	border-left-width: 2px;
}
.pricelist td.center {
	text-align: center;
}
.pricelist td.money {
	text-align: right;
	white-space: nowrap;
}
ul.news-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.news-list li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #dcdcdc;
}
ul.news-list li a {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	font-size: 16px;
	text-decoration: none;
	color: #333;
}
ul.news-list li a.red {
	color: #e6332a;
}
ul.news-list li a:hover {
	text-decoration: none;
}
ul.news-list li a b {
	display: block;
	font-family: "officinasansboldsccbold";
	font-size: 18px;
	color: #1b828c;
}
ul.news-month {
	margin-top: 25px;
	justify-content: center !important;
}
ul.news-month li.page-item a {
	color: #1b828c;
}
ul.news-month li.page-item.disabled span {
	color: #e6332a;
}
.calc-result {
	padding: 10px 2px;
	border-radius: 5px;
	margin-top: 15px;
	background: #ddd;
	border: 1px solid #1b828c;
	line-height: 1.2;
	text-align: center;
}
.calc-result .name {
	color: #1b828c;
	font-weight: bold;
	font-size: 22px;
}
.calc-result .price {
	font-family: "officinasansboldsccbold";
	font-size: 20px;
	color: #e6332a;
}
.calc-result .price b {
	font-size: 32px;
	font-weight: normal;
}
.calc-result .price .spinner-border {
	border-width: 2px;
}
.calc-result .time b {
	font-family: "officinasansboldsccbold";
	font-weight: normal;
	font-size: 20px;
}
.calc-result .time .spinner-border {
	border-width: 1px;
}
.calc-result .error {
	display: none;
	background: #e6332a;
	border-radius: 5px;
	margin: 10px 20px 0 20px;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
}

@import "blocks/_blocks";

// Responsive styles
@import "utils/media";
