<header>
    <div id="contact" class="head d-lg-block collapse navbar-collapse">
        <div class="container">
            <div class="row align-items-center">
                <div class="logo d-lg-block col-lg-5 col-2">
                    <a href="index.html">
                        <img src="static/img/header_logo.svg" alt="ЖелДорЭкспедиция" width="80" height="80">
                        <div class="d-none d-lg-block"><b>ЖелДорЭкспедиция</b>Доставка грузов по России</div>
                    </a>
                </div>
                <div class="phone d-lg-block col-lg-4 col-10">
                    <div class="up" style="margin-bottom: 10px;"><a href="company/hotline.html">Горячая линия</a><a
                            href="sitemap/index.htm">Карта сайта</a></div>
                    <div class="big" style="margin-bottom: 15px;">+7(495) 727-14-56</div>
                </div>
                <div class="contact d-lg-block col-lg-3 col-12">
                    <div class="contact-brand"><a id="ChoseBranch" class="name" href="branch/index.htm">Москва</a>
                        <div class="adr">ул.2-й Лучевой просек, д.5В</div>
                        <div class="tel">+7(495) 643-10-19</div><a class="more" href="branch/moskva/index.htm">больше
                            информации о филиале</a>
                    </div>
                    <div class="contact-department d-none">
                        <div class="department"><b>Заключить индивидуальный договор</b>
                            <div>+7(906) 157-12-03<span>
                                    <script
                                        type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%6d%6f%73%63%6f%77%2e%64%6f%6b%40%6a%64%65%2e%72%75%22%20%3e%6d%6f%73%63%6f%77%2e%64%6f%6b%40%6a%64%65%2e%72%75%3c%2f%61%3e%27%29%3b'))</script>
                                </span></div>
                        </div>
                        <div class="department"><b>Консультация и расчет стоимости</b>
                            <div>+7(495) 146-89-00<span>
                                    <script
                                        type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%63%61%6c%6c%40%6a%64%65%2e%72%75%22%20%3e%63%61%6c%6c%40%6a%64%65%2e%72%75%3c%2f%61%3e%27%29%3b'))</script>
                                </span></div>
                        </div>
                        <div class="department"><b>Отдел контроля качества</b>
                            <div><span>
                                    <script
                                        type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%70%72%65%74%65%6e%73%69%6f%6e%40%6a%64%65%2e%72%75%22%20%3e%70%72%65%74%65%6e%73%69%6f%6e%40%6a%64%65%2e%72%75%3c%2f%61%3e%27%29%3b'))</script>
                                </span></div>
                        </div>
                        <div class="department"><b>Служба Безопасности</b>
                            <div>+7(495) 660-33-95 доб.6<span>
                                    <script
                                        type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%73%62%2e%6a%64%65%40%6d%61%69%6c%2e%72%75%22%20%3e%73%62%2e%6a%64%65%40%6d%61%69%6c%2e%72%75%3c%2f%61%3e%27%29%3b'))</script>
                                </span></div>
                        </div>
                        <div class="department"><b>Отдел продаж</b>
                            <div>+7(495) 419-14-50<span>
                                    <script
                                        type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%73%61%6c%65%73%40%6a%64%65%2e%72%75%22%20%3e%73%61%6c%65%73%40%6a%64%65%2e%72%75%3c%2f%61%3e%27%29%3b'))</script>
                                </span></div>
                        </div>
                        <div class="department"><b>Тендерный отдел</b>
                            <div>+7(495) 660-33-95 доб.629<span>
                                    <script
                                        type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%74%65%6e%64%65%72%40%6a%64%65%2e%72%75%22%20%3e%74%65%6e%64%65%72%40%6a%64%65%2e%72%75%3c%2f%61%3e%27%29%3b'))</script>
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">$(function () { $('#contact .phone .big').text('+7(495) 727-14-56'); });</script>
    <nav class="navbar navbar-expand-lg">
        <div class="container"><button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#contact"><i class="navbar-toggler-icon"></i></button><a
                class="navbar-brand d-lg-none jde-font" href="index.htm">ЖелДорЭкспедиция</a><button
                class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu"><span
                    class="top-bar"></span><span class="middle-bar"></span><span class="bottom-bar"></span></button>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item dropdown"><a href="company/index.htm" class="nav-link">О компании</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="company/about.html">О нас</a></li>
                            <li class="dropdown-item"><a href="company/history.html">История</a></li>
                            <li class="dropdown-item"><a href="company/mission.html">Миссия и ценности</a></li>
                            <li class="dropdown-item"><a href="company/news.html">Новости</a></li>
                            <li class="dropdown-item"><a href="company/faq.html">Часто задаваемые вопросы</a></li>
                            <li class="dropdown-item"><a href="article/index.htm">Статьи</a></li>
                            <li class="dropdown-item"><a href="company/hotline.html">Горячая линия</a></li>
                            <li class="dropdown-item"><a href="company/career.html">Карьера в компании</a></li>
                            <li class="dropdown-item"><a href="company/contact.html">Контакты</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="branch/index.htm">Филиалы</a></li>
                    <li class="nav-item dropdown"><a class="nav-link" href="service/index.htm">Услуги</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="service/intercity.html">Доставка сборных грузов по
                                    России</a></li>
                            <li class="dropdown-item"><a href="service/fulltruck.html">Генеральные грузы FTL (full
                                    truck load)</a></li>
                            <li class="dropdown-item"><a href="service/china.html">Доставка грузов из Китая</a></li>
                            <li class="dropdown-item"><a href="service/kazakhstan.html">Доставка грузов в
                                    Казахстан</a></li>
                            <li class="dropdown-item"><a href="service/belorussia.html">Доставка грузов в
                                    Белоруссию</a></li>
                            <li class="dropdown-item"><a href="service/container.html">Контейнерные перевозки</a>
                            </li>
                            <li class="dropdown-item"><a href="service/internet.html">Доставка интернет покупок</a>
                            </li>
                            <li class="dropdown-item"><a href="service/air.html">Авиадоставка грузов</a></li>
                            <li class="dropdown-item"><a href="service/insurance.html">Страхование груза</a></li>
                            <li class="dropdown-item"><a href="service/pharmacy.html">Фармацевтическая логистика</a>
                            </li>
                            <li class="dropdown-item"><a href="service/storage.html">Ответственное хранение и
                                    складские услуги</a></li>
                            <li class="dropdown-item"><a href="service/avtoperevozki.html">Автоперевозка грузов</a>
                            </li>
                            <li class="dropdown-item"><a href="service/zhd-perevozki.html">Железнодорожные
                                    перевозки</a></li>
                            <li class="dropdown-item"><a href="service/label.html">Маркировка груза</a></li>
                            <li class="dropdown-item dropdown dropdown-submenu"><a
                                    href="service/extra.html">Дополнительные услуги</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="service/fragilecargo.html">Перевозка хрупких
                                            грузов</a></li>
                                    <li class="dropdown-item"><a href="service/valuablecargo.html">Перевозка ценных
                                            грузов</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="online/index.htm">Онлайн сервисы</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="index-1.htm" target="_blank" rel="nofollow">Личный
                                    кабинет</a></li>
                            <li class="dropdown-item"><a href="online/calculator.html">Калькулятор стоимости
                                    доставки</a></li>
                            <li class="dropdown-item"><a href="rq/index.htm" target="_blank" rel="nofollow">Заявка
                                    на доставку груза</a></li>
                            <li class="dropdown-item"><a href="online/tracking.html">Узнать местоположение груза</a>
                            </li>
                            <li class="dropdown-item"><a href="online/individual.html">Получить индивидуальное
                                    решение</a></li>
                            <li class="dropdown-item"><a href="online/china.html">Заявка на доставку из Китая</a>
                            </li>
                            <li class="dropdown-item"><a href="online/pretension.html">Отдел контроля качества</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="document/index.htm">Документы</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="document/legal.html">Правовая информация</a></li>
                            <li class="dropdown-item"><a href="document/pattern.html">Образцы документов</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="solution/index.htm">Бизнесу</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a href="solution/internet.html">Интернет-магазины</a></li>
                            <li class="dropdown-item"><a href="solution/industrial.html">Крупногабаритная техника и
                                    промышленное оборудование</a></li>
                            <li class="dropdown-item"><a href="solution/valuable.html">Ценные грузы</a></li>
                            <li class="dropdown-item"><a href="solution/beauty.html">Фармацевтические и
                                    косметические компании</a></li>
                            <li class="dropdown-item"><a href="solution/tc.html">Решение для транспортных
                                    компаний</a></li>
                            <li class="dropdown-item"><a href="solution/pl.html">3 PL от Ж.Д.Э</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="partner/index.htm">Партнерам</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a href="partner/franchise.html">Предложение по франшизе</a>
                            </li>
                            <li class="dropdown-item"><a href="partner/investor.html">Предложение для инвесторов</a>
                            </li>
                            <li class="dropdown-item"><a href="partner/advantages.html">Преимущества
                                    сотрудничества</a></li>
                            <li class="dropdown-item"><a href="partner/tender.html">Тендеры</a></li>
                            <li class="dropdown-item"><a href="partner/supplier.html">Поставщикам</a></li>
                            <li class="dropdown-item"><a href="partner/wagon.html">Закупаем вагоны</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="nav-mobile d-lg-none"><a href="index-1.htm" target="_blank" rel="nofollow"
                        class="nav-ttn">Личный<br>кабинет</a><a href="online/calculator.html"
                        class="nav-lk">Калькулятор<br>стоимости</a><a href="track/index.htm" target="_blank"
                        rel="nofollow" class="nav-ttn">Информация<br>по ТТН</a></div>
            </div>
        </div>
    </nav>
</header>