@font-face {
    font-family: "officinasansboldsccbold";
    src: url("../fonts/offsbsc1-webfont.eot");
    src: url("../fonts/offsbsc1-webfont-1.eot") format("embedded-opentype"),
        url("../fonts/offsbsc1-webfont.woff2") format("woff2"), url("../fonts/offsbsc1-webfont.woff") format("woff"),
        url("../fonts/offsbsc1-webfont.ttf") format("truetype"), url("../fonts/offsbsc1-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
